{{ define "main" }}

<header class="post-header">
  <h1 class="post-title">
    {{ if eq .Kind "home" }}
      {{ .Title }}
    {{ else }}
      [{{ .Title | lower }}]
    {{ end }}
  </h1>
  <div>
    {{ .Description }}
  </div>
</header>
<ul class="mini-post-list">
{{ $baseurl := .Site.BaseURL }}
{{ range $name, $page := .Data.Pages }}
  {{ if eq .Type "posts" }}
  <li class="mini-post">
    <h2>
      <a href="{{ .Permalink }}">
        {{ if $page.Draft }}[DRAFT] {{end}}{{ $page.Title }}
      </a>
    </h2>
    {{ if $page.Description }}
    <p>{{ $page.Description | markdownify }}</p>
    {{ end }}
    <div class="post-meta">
      <time datetime="{{ $page.Date }}">
        {{ $page.Date.Format "02 Jan 2006" }}
      </time>
      {{ partial "tags.html" $page }}
    </div>
  </li>
  {{ end }}
{{ end }}
</ul>

{{ end }}
